USE [securetech]
GO
/****** Object:  StoredProcedure [dbo].[Kill_Feed]    Script Date: 5/20/2026 9:19:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[Kill_Feed]
    @CharName varchar(120),
    @Text1    varchar(120),
    @MapID    int
AS
BEGIN
    DECLARE @MapName varchar(120) = (
        SELECT MapName 
        FROM PS_GameDefs.dbo.Maps 
        WHERE MapID = @MapID
    );

    DECLARE @Notice varchar(120) = '[FEED] ' + @CharName + ' killed ' + @Text1 + ' in ' + @MapName;

    DECLARE @command varchar(160) = N'/nt ' + @Notice;

    EXEC securetech.dbo.RunServiceCommand
        @Service     = N'ps_game',
        @CommandText = @command;
END
